.homePageWrapper {
  width: 100%;
  height: auto;
  background-color: #c41616;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  header {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      width: 800px;
      height: auto;
    }
    .headerInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h1 {
        font-family: "PT Sans", sans-serif;
        font-size: 60px;
        font-weight: 400;
        line-height: 70px;
        color: rgb(235, 212, 183);
      }
      h3 {
        text-align: end;
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: rgb(235, 212, 183);
      }
      button {
        width: 80%;
        height: 40px;
        border-color: rgb(235, 212, 183);
        border: 1px solid rgb(235, 212, 183);
        border-radius: 30px;
        cursor: pointer;
        color: black;
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin: 30px 0 0 0;
      }
    }
  }
  .devider {
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(235, 212, 183);
  }
  main {
    max-width: 100%;
    position: relative;
    .creatorInfoBox {
      .creatorBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0;
        align-items: flex-end;
        .creatorFoto {
          width: 200px;
          height: auto;
          border-radius: 50px;
          margin: 0 50px 0 0;
        }
        .creatorInfo {
          height: 100%;
          display: flex;
          flex-direction: column;
          p {
            font-family: "PT Sans", sans-serif;
            font-size: 45px;
            font-weight: 400;
            line-height: 50px;
            color: rgb(235, 212, 183);
          }
          a {
            margin: 50px 0 0 0;
          }
        }
      }
      .moreCreatorsInfo {
        width: 60%;
        margin: 0 auto;
        p {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          font-family: "PT Sans", sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 29px;
          color: rgb(235, 212, 183);
          img {
            width: 25px;
            height: auto;
          }
        }
      }
    }
    h3 {
      font-family: "PT Sans", sans-serif;
      font-size: 50px;
      font-weight: 400;
      line-height: 60px;
      color: rgb(235, 212, 183);
      text-align: center;
      margin: 50px 0;
    }
    .programResultInfo {
      max-width: 90%;
      height: auto;
      margin: 0 auto;

      h4 {
        font-family: "PT Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: rgb(235, 212, 183);
        text-align: center;
      }
      p {
        font-family: "PT Sans", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(235, 212, 183);
        text-align: center;
        margin: 20px 0 0 0;
      }
      .days {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0;
        .day {
          width: 30%;
          height: auto;
          padding: 10px;
          border: 5px solid rgb(235, 212, 183);
          border-radius: 30px;
          span {
            font-family: "PT Sans", sans-serif;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            color: rgb(235, 212, 183);
          }
          p {
            font-family: "PT Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: rgb(235, 212, 183);
          }
        }
      }
      .programBox,
      .programResults {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 13px 10px;
        border: 5px solid rgb(235, 212, 183);
        border-radius: 30px;
        margin: 30px 0;
        p {
          font-family: "PT Sans", sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 25px;
          color: rgb(235, 212, 183);
          text-align: start;
          margin: 0;
        }
        span {
          font-family: "PT Sans", sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 24px;
          color: rgb(235, 212, 183);
          text-align: start;
          margin: 0;
        }
      }
    }

    .payment {
      max-width: 100%;
      height: 900px;
      margin: 0 auto;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .basicPaymentBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 80%;
        border: 5px solid white;
        border-radius: 40px;
        .boxinfo {
          .basicHeader {
            font-size: 50px;
            line-height: 60px;
            text-align: center;
            color: rgb(235, 212, 183);
            margin: 20px 0;
          }
          .devider {
            display: block;
            width: 100%;
            height: 4px;
            background-color: white;
            margin: 0 0 40px 0;
          }
          p {
            font-family: "PT Sans", sans-serif;
            font-size: 30px;
            line-height: 35px;
            color: white;
            margin: 0 0 13% 5%;
          }
        }
        .boxpayment {
          display: flex;
          flex-direction: column;
          .price {
            font-family: "PT Sans", sans-serif;
            font-size: 40px;
            line-height: 65px;
            color: white;
            margin: 5px auto 5px auto;
          }
          .basicPaymentBtn {
            width: 80%;
            height: 85px;
            background: -webkit-linear-gradient(
              67deg,
              hsl(350, 73%, 44%) 0%,
              hsl(274, 65%, 12%) 100%
            );
            color: white;
            cursor: pointer;
            margin: 0 auto 50px auto;
            border-radius: 40px;
            font-family: "PT Sans", sans-serif;
            font-size: 30px;
            line-height: 35px;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 20px 0 0 0;
          }
        }
      }
      .vipPaymentBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 80%;
        border: 5px solid white;
        border-radius: 40px;
        background-color: darkgoldenrod;
        .boxinfoVip {
          .vipHeader {
            font-size: 50px;
            line-height: 60px;
            text-align: center;
            color: gold;
            margin: 20px 0;
          }
          .devider {
            display: block;
            width: 100%;
            height: 4px;
            background-color: white;
            margin: 0 0 40px 0;
          }
          p {
            font-family: "PT Sans", sans-serif;
            font-size: 28px;
            line-height: 35px;
            color: white;
            margin: 0 0 8% 5%;
          }
        }
        .boxpaymentVip {
          display: flex;
          flex-direction: column;
          .price {
            font-family: "PT Sans", sans-serif;
            font-size: 40px;
            line-height: 65px;
            color: white;
            margin: 0 auto 30px auto;
          }
          .vipPaymentBtn {
            width: 80%;
            height: 85px;
            background: -webkit-linear-gradient(
              67deg,
              hsl(350, 73%, 44%) 0%,
              hsl(274, 65%, 12%) 100%
            );
            color: white;
            cursor: pointer;
            margin: 0 auto 50px auto;
            border-radius: 40px;
            font-family: "PT Sans", sans-serif;
            font-size: 30px;
            line-height: 35px;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 20px 0 0 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .homePageWrapper {
    main {
      .payment {
        .basicPaymentBox {
          .boxinfo {
            p {
              font-size: 23px;
            }
          }
        }
        .vipPaymentBox {
          .boxinfoVip {
            p {
              font-size: 23px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .homePageWrapper {
    header {
      img {
        width: 400px;
        height: auto;
      }
      .headerInfo {
        h1 {
          font-size: 40px;
          line-height: 60px;
        }
      }
    }
    main {
      .programResultInfo {
        .days {
          .day {
            p {
              margin: 10px 0 0 0;
            }
          }
        }
      }
      .payment {
        .basicPaymentBox {
          width: 40%;
        }
        .vipPaymentBox {
          width: 40%;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .homePageWrapper {
    header {
      width: 95%;
      img {
        width: 300px;
      }
      .headerInfo {
        h1 {
          font-size: 35px;
          line-height: 50px;
        }
      }
    }
    main {
      .programResultInfo {
        .days {
          flex-direction: column;
          align-items: center;
          .day {
            margin: 0 0 30px 0;
            width: 70%;
          }
        }
      }
      .payment {
        height: auto;
        flex-direction: column;
        .basicPaymentBox,
        .vipPaymentBox {
          margin: 30px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .homePageWrapper {
    main {
      .payment {
        .basicPaymentBox {
          width: 60%;
          .boxinfo {
            p {
              font-size: 30px;
            }
          }
        }
        .vipPaymentBox {
          width: 60%;
          .boxinfoVip {
            p {
              font-size: 30px;
              margin: 0 0 5% 5%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .homePageWrapper {
    header {
      width: 100%;
      img {
        width: 250px;
      }
      .headerInfo {
        margin: 0 20px 0 0;
        h1 {
          font-size: 25px;
        }
        button {
          width: 100%;
          font-size: 14px;
        }
      }
    }
    main {
      .creatorInfoBox {
        .creatorBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 40px 0;
          align-items: center;
          .creatorFoto {
            width: 300px;
            margin: 0 0 30px 0;
          }
          .creatorInfo {
            align-items: center;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .homePageWrapper {
    header {
      img {
        width: 200px;
      }
      .headerInfo {
        h1 {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    main {
      .creatorInfoBox {
        .creatorBox {
          .creatorFoto {
            width: 90%;
          }
        }
      }
      .programResultInfo {
        .days {
          .day {
            width: 90%;
            span {
              font-size: 20px;
              line-height: 30px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
      .payment {
        .basicPaymentBox {
          width: 85%;
        }
        .vipPaymentBox {
          width: 85%;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .homePageWrapper {
    header {
      img {
        width: 50%;
      }
      .headerInfo {
        h1 {
          font-size: 18px;
          line-height: 22px;
        }
        h3 {
          font-size: 22px;
        }
        button {
          font-size: 11px;
        }
      }
    }
    main {
      .creatorInfoBox {
        .creatorBox {
          .creatorInfo {
            p {
              font-size: 38px;
            }
          }
        }
      }
    }
  }
}
